{% extends 'base.html.twig' %}

{% block title %}New Enfant{% endblock %}

{% block body %}
    <h1>Create new Enfant</h1>

    {{ include('enfant/_form.html.twig') }}

    <a href="{{ path('app_enfant_index') }}">back to list</a>
{% endblock %}
